:root {
    --dark-accent: #4ec252;
    --dark-bg: #1b1b1b;
    --dark-error: #d32f2f;
    --dark-primary: #2e2e2e;
    --dark-secondary: #3a3a3a;
    --dark-success: #388e3c;
    --dark-text: #982dc9;
    --dark-warning: #ac9014;
    --dark-alt: rgb(205, 68, 26);
  }


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
   background-color: var(--dark-bg);
    color: var(--dark-warning);
}
.forex-container{
    text-align: center;
    background-color: var(--dark-bg);

    width:100%; 
    height: auto;
    /* border:2px solid red; */
    margin: 0px;
    padding: 5px;;
}

.tradingview-widget-container{
background-color: var(--dark-bg);

}
.clock-container{
    text-align: center;
    background-color: var(--dark-bg);

    border-radius: 8px;
    /* margin: 0px; */
    width: 100%;
}

h1 {
    /* margin-bottom: 10px; */
    color: var(--dark-accent)
}

.time {
    font-size: 2rem;
    color:var(--dark-text);
    /* margin: 10px 0; */
}